@import '../../styles/variables';
.navigation-menu {
    border: none;
    background-color: inherit;
}

.navigation-menu__row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    background-color: @footerColor;
    .glyphicon {
        margin-top: 6px;

        font-size: 2em;
    }
}

.navigation-menu__row_size-default {
    height: 50px;
}