<div id="navigation-menu">
    <div class="row fa-2x">
        <div class="col-xs-3">
            <a href="#/home"><i class="fa fa-home"></i></a>
        </div>
        <div class="col-xs-3">
            <a href="#/barchart"><i class="fa fa-bar-chart"></i></a>
        </div>
        <div class="col-xs-3">
            <a href="#/piechart"><i class="fa fa-pie-chart"></i></a>
        </div>
        <div class="col-xs-3">
            <a href="#/settings"><i class=" fa fa-cogs"></i></a>
        </div>
    </div>
</div>

